em {
  font-style:italic;
}

strong {
  font-weight:600;
}

nav {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: #000;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  -moz-box-shadow:    0 0 10px #111;
  -webkit-box-shadow: 0 0 10px #111;
  box-shadow:         0 0 10px #111;
}

section.game h1 {
  margin-bottom: 60px;
}

section.game {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

section.text {
  margin-bottom: 40px;
}

section p.header_image {
  float:left;
  margin-top: 60px;
  margin-right: 10px;
}

section p.header_image img {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24pt;
  height: 0.8em;
}

nav ul.navbar {
}

nav ul.navbar li {
  display: inline;
  margin-left: 15px;
}

nav * a {
  color: #fff;
  text-decoration: none;
}

body {
  margin-left: auto;
  margin-right: auto;
  background-image: url('../images/noise_black.png')
}

section {
  width: 680px;
  margin-left: auto;
  margin-right: auto;
}

section.game {
  width: 100%;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #999;
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.5em;
  margin-top: 33px;
  margin-left: 18px;
}

section ul {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 12pt;
  margin-left: 18px;
  margin-top: 20px;
}

section ul li {
  margin-top: 7px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.3em;
  color: #fff;
  font-weight: 600;
  font-size: 42pt;
  margin-top: 62px;
  margin-right: 15px;
  text-align: center;
  text-shadow: 0 0 0.09em #080808;
}

ul.competitions {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 20pt;
  text-align: center;
  margin-top: 70px;
  margin-left: 0px;
}

ul.competitions li ~ li {
  margin-top: 25px;
}

ul li a {
  text-decoration: none;
  color: #88f;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 24pt;
  padding-top: 55px;
  text-shadow: 0 0 0.09em #080808;
}

ul ~ h2.game {
  padding-top: 30px;
  border-top: 1px solid #383838;
  clear: both;
}

ul.participants {
  color: #88f;
  margin-top: 13px;
  margin-left: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11pt;
}

ul.participants li.participant {
  color: #fff;
  font-weight: 300;
  margin-left: 4px;
  display: inline;
}

ul.participants li.participant:first-child {
  margin-left: 9px;
}

ul.participants li.participant:after {
  content: ","
}

ul.participants li.participant:last-child:after {
  content: ""
}

ul.screenshots {
  font-family: "Open Sans", sans-serif;
  color: #999;
  font-weight: 300;

  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul.screenshots:last-child {
  border-bottom: none;
}

ul.screenshots li.screenshot {
  display: inline;
}

ul.screenshots li.screenshot img {
  width: 200;
  height: 150;
  -moz-box-shadow:    0 0 10px #111;
  -webkit-box-shadow: 0 0 10px #111;
  box-shadow:         0 0 10px #111;
  margin-left: 5px;
}

ul.screenshots li.screenshot ~ li.screenshot {
  margin-left: 25px;
}

ul.links {
  float: left;

  margin-top: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11pt;

  padding-bottom: 30px;
}

ul.links li.link {
  color: #666;
  font-weight: 300;
  display: inline;
}

ul.links li.link a {
  color: #88f;
  text-decoration: none;
}

ul.links li.link:after {
  content: " |"
}

ul.links li.link:last-child {
  margin-right: 4px;
}

ul.languages {
  color: #bbb;
  margin-top: 28px;
  margin-left: 0px;
  border-bottom: 1px solid #111;
  padding-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 11pt;
}

ul.languages li.language {
  color: #fff;
  font-weight: 300;
  margin-left: 4px;
  display: inline;
}

ul.languages li.language:first-child {
  margin-left: 4px;
}

ul.languages li.language:after {
  content: ","
}

ul.languages li.language:last-child:after {
  content: ""
}
