%input#game-name{:type => "hidden", :value => game["name"]}
%input#game-slug{:type => "hidden", :value => game["slug"]}
%input#game-width{:type => "hidden", :value => game["width"]}
%input#game-height{:type => "hidden", :value => game["height"]}
%script{:type => "text/javascript", :src => "/js/swfobject.js"}
%script{:type => "text/javascript", :src => "/js/flash.js"}
%section.game
  %h2 #{game["name"]}
  %ul.participants
    Creators:
    - game["participants"].each do |participant|
      %li.participant #{participant}
  - if game["summary"]
    %p.summary #{game["summary"]}
  #alt-content
    %a{:href => "http://www.adobe.com/go/getflashplayer"}
      Requires Flash
